{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/logo-loader.png' %}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to Kira</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{% static './css/brfv5_examples.css' %}"> -->

    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="{% static 'js/webcam.min.js' %}"></script> -->
</head>

<body>
  <div class="wrapper">
    <div class="page-title"><h1><span>KIRA</span> - AI Face Analyser</h1></div>
    <div class="capture-photo logo-show">
      <span class="red">{{ error }}</span>
      
       <div class="capture-main" style="display: none;">
        <div class="capture-image-button">
          <div id="my_camera"></div>
          <button class="capture-image" id="capture-image" onClick="take_snapshot()">Capture Image</button>
          <span class="close-btn">X</span>
        </div>
      </div>
      
        <div class="capture-image-box">  
          <div class="capture-image-inner"> 
            <div class="upload-info">
              <form action="analysedpic/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <div class="form-group">
                    <div class="preview-zone hidden">
                      <div class="box box-solid">
                        <div class="box-header with-border">
                          <div class=" pull-right">
                            <!-- <span class="capture-image" id="uploadimgbtn">Upload Image</span> -->
                            <button class="capture-image" id="uploadimgbtn">Upload Image</button>
                          </div>
                        </div>
                        <div class="box-body"></div>
                      </div>
                    </div>
                    <div class="dropzone-wrapper">
                      <div class="dropzone-desc">
                        <i><img src="{% static 'assets/upload-icon.png' %}" style="width: 80px;" alt=""></i>
                        <p>Drop an image here, or <span>Browse</span> </p>
                         </div>
                      <input type="file" name="img_logo" class="dropzone">
                    </div>
                   </div> 
              </form>
            </div>
            <div class="uploaded-image" style="display: none;">
            <img src="{% static 'assets/orginal-photo.jpg' %}" alt="">
           <div class="capture-image-button">
                <button class="capture-images" type="submit">Upload Image</button>
            </div>
          </div>
          </div>
        </div>
       
       <!-- <div class="camera-box">
        <span class="or">OR</span>
        <div class="selfie">
          <i><img src="{% static 'assets/ClickASelfie.png' %}" width="35" alt=""></i>
          <span>Click-A-Selfie</span>
        </div>
      </div> -->
    
        <div class="logo-wrapper">
            <a href="/" class="logo">
                <img src="{% static 'assets/spalsh.png' %}" alt=""></a>
        </div>

    </div>

    <!--<div id="particles-js" class="single"></div>-->

    <div class="content-main" style="display: none;">
        <div id="home-page">
          <div id="loader"> </div>
            <div id="__brfv5" class="__brfv5">
              
            </div>
        </div>
    </div>
    
     <div id="content" style="display: none;">
        <!-- <div class="container">
        <div class="error_message" id="error_message">
        </div>
        <div id="kira-recomend-page">
          <div class="box-photo">
            <h2>Analysis</h2>
            <div class="capture-image-button">
              <button class="capture-image">Retake</button>
            </div>
            <div class="photo-img">
               <div class="features features-top-list">
               <ul class="left">
                  <li class="age">
                    <span>
                      Age
                    </span>
                    <strong id="kira_age">--</strong>
                  </li>
                  <li class="gender">
                    <span>
                      Gender
                    </span>
                    <strong id="kira_gender">--</strong>
                  </li>
                   <li class="fshape">
                      <span>
                        Face Shape
                      </span>
                      <strong id="kira_face">--</strong>
                    </li>
                </ul>
              </div>

              <div class="features">
                <ul class="left">
                   <li class="fwidth">
                    <span>
                      Face Width
                    </span>
                    <strong id="kira_facewidth">--</strong>
                  </li>
                 
                  <li class="fageestimation">
                    <span>
                      Age Estimation
                    </span>
                    <strong id="kira_ageEstimation">--</strong>
                  </li>

                  <li class="feyeglass">
                    <span>
                      Eyeglass
                    </span>
                    <strong id="kira_eyeglass"></strong>>--</strong>
                  </li>
                  <li class="fmustache">
                    <span>
                      Mustache
                    </span>
                    <strong id="kira_mustache">--</strong>
                  </li>
                </ul>

                <div class="photo photo-capture" >
                  <img src="{% static 'assets/man.png' %}" alt="Pic" id="kira_maleimg"/>
                  <img src="{% static 'assets/woman.png' %}" alt="Pic" id="kira_femaleimg" style="display: none;"/>
                  
                </div>

                 <div class="photo orginal-photo-box" id="orginal-photo-box">
                  <img src="{% static 'assets/orginal-photo.jpg' %}" alt="Pic"/>
                </div>

                <ul class="right">
                    <li class="fhair">
                      <span>
                      Hair
                      </span>
                      <strong id="kira_hair">--</strong>
                    </li>
                    <li class="expression">
                      <span>
                      Expression
                      </span>
                      <strong id="kira_expression">--</strong>
                    </li>
                    <li class="fbeard">
                      <span>
                      Beard</span><strong id="kira_beard">--</strong>
                    </li>
                   
                    <li class="fcontours"><span>Contours</span></li>
                </ul>
              </div>

             
              <div id="kira_contours">
                <ul class="contours-data">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    
        <!-- <script type="module" src="{% static 'js/examples/face_tracking__track_one_face.js' %}"></script> -->
        <!-- <script src="{% static 'js/particles.js' %}"></script> -->
         <!-- <script src="{% static 'js/app.js' %}"></script> -->


        <script>

        $("div#kira-recomend-page .capture-image-button button").click(function(){
          $("#loader").fadeOut(0);
          $(".content-main").show();
          $(".capture-main").show();
          $(".capture-image-box").show();
          $(".page-title").show();
          $(".camera-box").show();
          $("#content").fadeOut();
        });

          $(".close-btn").click(function(){
          $("#loader").fadeOut(0);
          $(".content-main").fadeOut();
          $(".capture-main").fadeOut();
          $(".capture-image-box").show();
          $(".upload-info").show();
          $("#content").show();
          $("div#kira-recomend-page").fadeOut(0);
        });


        $(function($){
        $(".selfie").click(function() {
          $(".upload-info").fadeOut();
          $(".capture-main").show();
          $(".content-main").show();
          openCam();
        });

      });

      $(function($){
        $("#capture-image").click(function() {
          $("#loader").fadeIn(300);
           setTimeout(function() { 
          $(".content-main").fadeOut();
          $(".capture-main").fadeOut();
          $(".capture-image-box").fadeOut();
          $(".page-title").fadeOut();
          $(".camera-box").fadeOut();
          $("#kira-recomend-page").show();
          $("#content").show();
       }, 3000);  
         
        });

      });

      $(function($){
        $("#uploadimgbtn").click(function() {
          $(".content-main").fadeOut();
          $(".capture-main").fadeOut();
          $(".capture-image-box").fadeOut();
          $(".page-title").fadeOut();
          $(".camera-box").fadeOut();
          $("#kira-recomend-page").show();
          $("#content").show();
       });
         
        });

     

        </script>

       <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
       <script  src="{% static 'js/function.js' %}"></script>
        <script src="{% static 'js/kira.js' %}"></script>
</body>
</script>

</html>
